body {
    margin: 3%;
}

/* Parti principali:
    - header
    - corpo
    - footer
*/

#header {
    background-color: cadetblue;
    color: whitesmoke;
    padding: 1%;
    border-radius: 10px;
}

#corpo {
    color: rgb(97, 97, 97);
    padding: 1%;
}

#footer {
    clear:both;
    background-color: cadetblue;
    color: whitesmoke;
    border-radius: 10px;
}

/* Header */

#logo_header {
    width: 15vw;
}

h1.header {
    
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
}

/* Corpo */

h2.corpo {
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3%;
}

.corpo_fig {
    text-align: center;
}
.corpo_img {
    width: 30vw;
}

.corpo_caption {
    font-size: 1vw
}

p.corpo {
    font-size: 2vw;
    text-align: justify;
}

/* Footer */

#logo_footer {
    width: 10vw;
}

/*Tabelle*/

td.left {
    border-left: 1px solid whitesmoke;
    padding-left: 20px;
}

td.right {
    border-right: 0px solid whitesmoke;
    padding-right: 20px;
}

td.text {
    font-size: 2vw;
    text-transform: uppercase;
    font: bold;
}