body {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Parti principali:
    - header
    - corpo
    - footer
*/

#header {
    background-color: cadetblue;
    color: whitesmoke;
    padding: 1%;
    border-radius: 10px;
}

#corpo {
    color: rgb(97, 97, 97);
    padding: 1%;
}

#footer {
    clear:both;
    background-color: cadetblue;
    color: whitesmoke;
    border-radius: 10px;
}

/* Header */

#logo_header {
    max-width: 35%;
    min-width: 20%;
    width: auto;
}

h1.header {
    text-transform: uppercase;
    text-align: center;
    font-size: 2vw;
}

/* Corpo */

h1.corpo {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3%;
    font-size: 2vw;
}

.corpo_fig {
    text-align: center;
}
.corpo_img {
    max-width: 100%;
    max-height: 750px;
}

.corpo_caption {
    font-size:75%;
    max-width:470px;
    margin-right: auto;
    margin-left: auto;
    font-style: italic;
}

p.corpo {
    text-align: justify; 
}

/*Tabelle*/

td.right {
    border-left: 1px solid whitesmoke;
    text-align: left;
    width: 50%;
    padding-left: 2%;
}

td.left {
    border-right: 0px solid whitesmoke;
    text-align: right;
    width: 50%;
    padding-right: 2%;
}

td.text {
    text-transform: uppercase;
    font: bold;
}