body {
    margin: 3%
}

/* Parti principali:
    - header
    - corpo
    - footer
*/

#header {
    background-color: cadetblue;
    color: white;
    padding: 1%;
    border-radius: 10px;
}

#corpo {
    color: rgb(97, 97, 97);
    padding: 1%;
}

#footer {
    clear:both;
    background-color: cadetblue;
    color: white;
    padding: 1%;
    border-radius: 10px;
}

/* Header */

#logo_header {
    width: 15vw;
}

h1.header {
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
}

/* Corpo */

h2.corpo {
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center;
}

.corpo_img {
    width: 50vw;
    float: left;
    margin: 1%;
}

p.corpo {
    font-size: 1vm;
    text-align: justify;
}